# Node modules
**/node_modules

# Editor dirs
**/.zed
**/.idea
**/.vscode

# Tubro cache
**/.turbo

# Env file
**/.env
**/.env.*

# Other dirs
**/dist
**/test

# Git files
.git
.gitkeep
.gitignore

# Dockerfile
.dockerignore
compose.yaml
Dockerfile
