# Node dependencies
node_modules

# Editor / OS files
.idea
.vscode
.DS_Store

# Platform tooling
.vercel
.turbo

# Environment & secrets
.env
.env.*

# Logs & runtime artifacts
*.log
*.tsbuildinfo

# Build / Test files 
**/dist
